// Navigation code here
.top-nav {
    .display-mixin();
    margin: 0 0;
    .background();
    nav {
        margin: 10px 0 20px;
        a {
            font-size: 1.6rem;
            padding: 0 20px;
            text-decoration: none;
            
        }

    }

    h1 {
        font-size: 4rem;
        margin: 20px 0;
    }
}